{
	"env": {
		"browser": true,
		"node": true,
		"mocha": true
	},
	"ecmaFeatures": {
		"arrowFunctions": true,
		"blockBindings": true,
		"classes": true,
		"defaultParams": true,
		"destructuring": true,
		"forOf": true,
		"generators": true,
		"objectLiteralComputedProperties": true,
		"objectLiteralShorthandMethods": true,
		"objectLiteralShorthandProperties": true,
		"spread": true,
		"superInFunctions": true,
		"jsx": true
	},
	"rules": {
		"no-console": 1,
		"no-else-return": 1,
		"no-eq-null": 1,
		"no-floating-decimal": 1,
		"no-param-reassign": 1,
		"no-self-compare": 1,
		"no-throw-literal": 1,
		"no-void": 1,
		"radix": 1,
		"vars-on-top": 1,
		"yoda": [1, "never", { "exceptRange": true }],
		"no-undefined": 1,
		"strict": [1, "global"],

		"no-underscore-dangle": 0,
		"quotes": 0
	}
}
