<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="<%= root %>css/<%= sass.output %><%= hash %>.css" />
</head>
<body>
	<div id="entry"></div>
	<script type="text/javascript" src="<%= root %>js/<%= vendorBundle.output %><%= hash %>.js"></script>
	<script type="text/javascript" src="<%= root %>js/<%= bundle.output %><%= hash %>.js"></script>
</body>
</html>
